# API settings
API_V1_STR=/api
PROJECT_NAME="AI Inference Backend"

# CORS settings
BACKEND_CORS_ORIGINS=["http://localhost:3000"]

# Database settings
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/llm_service

# HPC settings
SLURM_LOG_DIR=/path/to/slurm/logs
SLURM_ACCOUNT="your_slurm_account"
